<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Location</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div aria-live="polite" aria-atomic="true" style="position: relative; z-index: 1000;top:-46px">
        <!-- Position it -->
        <div style="position: absolute; top: 0; left: 0;">
      
          <!-- Then put toasts within -->
          {% for message in messages %}
          <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
            <div class="toast-header bg-info text-white">
              <!-- <img src="..." class="rounded mr-2" alt="..."> -->
              <strong class="mr-auto">Notification</strong>
              <small class="text-white">just now</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body bg-white">
              {{message}}
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
    <div class="container mt-5">
        <h2 class="mb-4">Update Location</h2>
        <form action="/admin/update_location/{{ record_id }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Company Name:</label>
                <input type="text" class="form-control" id="company_name" name="company_name" value="{{ company_data['company_name'] }}" required>
            </div>
            <div class="form-group">
                <label for="phone_number">Phone Number <abbr title="Phone Number" style="color: red;">*</abbr></label></label>
                <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ company_data['phone_number']}}" required>
            </div>
            <div class="form-group">
                <label for="name">location_id <abbr title="Phone Number" style="color: red;">*</abbr></label>
                <input type="text" class="form-control" id="location_id" name="location_id" value="{{ company_data['location_id'] }}" required>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="is_active" name="is_active" {% if company_data['is_active'] %} checked {% endif %}>
                    <label class="form-check-label" for="is_active">Active Location for AI</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="is_ai_only" name="is_ai_only" {% if company_data['is_ai_only'] %} checked {% endif %}>
                    <label class="form-check-label" for="is_ai_only">Disable for FLEX</label>
                </div>
            </div>
            <div class="form-group">
                <label for="adminUserSelect">Select User:</label>
                <select id="adminUserSelect" class="form-control"></select>
            </div>          
            <div class="form-group">
                <label for="prompt_file">Prompt File:</label>
                <input type="file" class="form-control-file" id="prompt_file" name="prompt_file"><span>Existing Filename - {{ company_data['prompt_file'] }} </span>
            </div>
            <div class="form-group">
                <label for="directory_file">Knowledge Base:</label>
                <input type="file" class="form-control-file" id="directory_file" name="directory_file"><span>Existing Filename -{{ company_data['directory_file'] }} </span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS (optional, if needed) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Function to fetch users from the API and extract admin user IDs
        function fetchAndExtractAdminUserIds(locationId, accessToken) {
            const url = `https://services.leadconnectorhq.com/users/`;
            const params = {
                locationId: locationId
            };
            const headers = {
                'Authorization': `Bearer ${accessToken}`,
                'Version': "2021-07-28",
                'Accept': "application/json"
            };
        
            // Convert params object to query string
            const queryString = new URLSearchParams(params).toString();
        
            fetch(`${url}?${queryString}`, {
                method: 'GET',
                headers: headers
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Failed to fetch users: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                // Filter users by role
                const adminUsers = data.users.filter(user => user.roles.role === 'admin');
                const selectElement = document.getElementById('adminUserSelect');
        
                // Add default option
                const defaultOption = document.createElement('option');
                defaultOption.value = ""; // You can set this value to an empty string or any other value that makes sense for your application
                defaultOption.textContent = "Select user";
                selectElement.appendChild(defaultOption);
        
                adminUsers.forEach(user => {
                    const option = document.createElement('option');
                    option.value = user.id; // Store user ID as option value
                    option.textContent = user.name;
                    selectElement.appendChild(option);
                });
        
                // Add event listener to select element
                selectElement.addEventListener('change', function() {
                    const selectedUserId = this.value;
                    const selectedUserName = this.options[this.selectedIndex].text;
                    // Call a function to submit selectedUserId and selectedUserName to server
                    submitUserInfo(selectedUserId, selectedUserName);
                });
        
            })
            .catch(error => console.error('Error fetching users:', error));
        }
        

        // Function to submit selected user ID and user name to server
        function submitUserInfo(userId, userName) {
            // Fetch endpoint to submit user ID and user name to server
            fetch('/admin/api/submit_user_info/{{ record_id }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ userId: userId, userName: userName })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Failed to submit user info: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                // Handle success response from server if needed
                console.log('User info submitted successfully:', data);
            })
            .catch(error => console.error('Error submitting user info:', error));
        }

        // Call fetchAndExtractAdminUserIds function when the page loads
        window.addEventListener('load', function() {
            // Fetch credentials from the server
            fetch('/admin/api/get_credentials/{{ record_id }}')
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Failed to fetch credentials: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                const { access_token, location_id } = data;
                fetchAndExtractAdminUserIds(location_id, access_token);
            })
            .catch(error => console.error('Error:', error.message));
        });
    </script>
    
    
            
    <script> 
        $('.toast').toast("show")
    </script>
</body>
</html>